#background {
    background-color: rgb(37, 37, 37);
}

#margins {
    margin-left: 3.8cm;
    margin-top: 4cm;
    margin-bottom: 2cm;
}

#hello {
    color: rgb(255, 0, 98);
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 25px;
    line-height: 2;
}

#name {
    color: rgb(0, 217, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 2.3cm;
    font-weight: bold;
    margin-bottom: 10px;
}


#mini_intro {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#ch {
    color: rgb(255, 0, 98);
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 25px;
    line-height: 0;
    background-color:rgb(37, 37, 37);
    border: none;
    transition: 0.3s;
}

#ch:hover {
    color: white;
}

#but {
/* background-color: #333; */
position: fixed;
top: 0;
width: 100%;
display: block;
transition: top 0.9s;
}

#butmar {
    margin-right: 1.2cm;
    margin-top: 1cm;
}




#navbar {
  background-color: rgba(37, 37, 37, 0.69);
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.6s;
  z-index: 30;

}

#navbar a {
  /* float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
  z-index: 30; */
  float: right;
  color: rgb(42, 223, 255);
background-color: rgb(44, 44, 46,255);
padding: 10px;
margin-right: 30px;
font-family: 'Anonymous Pro';
font-size: 12.7px;
border: rgb(0, 192, 250);
border-style: solid;
border-radius: 5px;
border-width:thin;
margin-top: 0.6cm;
margin-bottom: 0.6cm;
transition: 0.4s;
text-decoration: none;

}

#navbar a:hover {
  color: rgb(255, 0, 0);
  border: rgb(255, 0, 0);
  border-style: solid;
  border-radius: 5.6px;
  border-width:thin;
  box-shadow: 0 0px 10px rgb(255, 0, 0);
}



.newRes {
  color: rgb(255, 255, 255);
  background-color: rgb(44, 44, 46,255);
  border: rgb(255, 255, 255);
  border-style: solid;
  padding: 12px;
  margin-left: 20px;
  font-family: 'Anonymous Pro';
  font-size: 12.7px;
  border-radius: 5px;
  border-width:thin;
  transition: 0.3s;
  font-weight: bold; 
  text-decoration: none;
}





.b {
color: rgb(42, 223, 255);
background-color: rgb(44, 44, 46,255);
padding: 12px;
margin-left: 20px;
font-family: 'Anonymous Pro';
font-size: 12.7px;
border: rgb(0, 192, 250);
border-style: solid;
border-radius: 5px;
border-width:thin;
margin-top: 1cm;
transition: 0.4s;
text-decoration: none;

}

#res {
    color: rgb(255, 255, 255);
    background-color: rgb(44, 44, 46,255);
    border: rgb(255, 255, 255);
    border-style: solid;
    padding: 12px;
    margin-left: 20px;
    font-family: 'Anonymous Pro';
    font-size: 12.7px;
    border-radius: 5px;
    border-width:thin;
    transition: 0.3s;
    font-weight: bold; 
    text-decoration: none;
}

.b:hover {
    color: rgb(255, 0, 0);
    border: rgb(255, 0, 0);
    border-style: solid;
    border-radius: 5.6px;
    border-width:thin;
    box-shadow: 0 0px 10px rgb(255, 0, 0);
}

#res:hover {
    color: rgb(255, 255, 255);
    border: rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.233);
    border-style: solid;
    border-radius: 5.6px;
    border-width:thin;
    /* background-color: rgb(160, 204, 255);
    opacity: 70%; */
}

#logo {
float: left;
margin-left: 1.6cm;
margin-top: -5px;
}

#logo:hover {
    animation: shake 3s;
    animation-iteration-count: 0.6;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

#aboutme {
    color: white;
    /* margin-left: 3cm; */
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Heebo', sans-serif;
    letter-spacing: 1.7px;
    font-weight: bolder;
    font-size: 25px;
    line-height: 80%;
}

#amt {
  color: rgb(38, 236, 226);
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 30px;
    
}

#testing {
    color:  rgb(255, 0, 98);
    font-family: 'Roboto', sans-serif;
    font-size: 46px;
}


#amm {
    margin-top: 1.2cm;
    margin-left: 3.8cm;
}

#ami {
    margin-top: 0.7cm;
    font-size: 13.2px;
    max-width: 14cm;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

#myImg {
    width: 8.5cm;
    height: auto;
    float: right;
    margin-top: -10.0cm;
    margin-right: 3.2cm;
    z-index: 0;
    position: relative;
}

html {
    scroll-behavior: smooth;
  }



.sticky {
    position: fixed;
}

#hov {
    float: right;
    z-index: 5;
    margin-top: -10.8cm;
    margin-right: 2cm;
    transform: rotate(37deg);
}



#project_title {
  color:  rgb(255, 0, 98);
  font-family: 'Roboto', sans-serif;
  font-size: 46px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.5cm;
}

#project_header{
  color: rgb(255, 160, 17); 
  font-size: 14px; 
  font-family: 'Roboto Mono', monospace;
    font-weight: bold;
  text-align: center;
  margin-top: -1cm;
  margin-bottom: -0.1cm;
}

#project_header2{
  color: rgb(202, 202, 202); 
  font-size: 12px; 
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 0.4cm;
  margin-bottom: -0.1cm;
}


* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 4px;
  transition: 0.4s ease;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* .column:hover{
  transform: scale(1.07);  
} */

#con {
  transition: 0.5s ease;
}

/* #con:hover{
  transform: scale(1.0.6);
} */

#pho {
  transition: 0.5s ease;

}

#pho:hover {
  transform: scale(1.06);

}


#parT {
  text-align: center;
  color: rgb(38, 236, 226);
  font-family: 'Roboto', sans-serif;
  /* font-weight: bold; */
  font-size: 22px;
  margin-top: 15px;
}


.circle {
  height: 475px;
  width: 475px;
  background-color: rgb(44, 44, 46, 255);
  border-radius: 50%;
float: right;  
z-index: -1;
position: absolute;
margin-left: 15.5cm;
margin-top: -12.3cm;
transition: 0.4s ease;
}

.circle:hover {
  transform: scale(1.03);
}

#websites {
 color:  rgb(199, 199, 199);
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.5cm;
  margin-top: 2cm;
  margin-left: 2.8cm;
}

#appType {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  color: rgba(230, 2, 40, 0.836);
  font-size: 15px;
  text-align: center;
  margin-top: -14px;
  opacity: 0.99;
}

#appText {
  color: aliceblue;
  margin-left: 1.5cm;
  margin-right: 1.5cm;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 130%;
  text-align:justify;
}

#web1 {
  margin-left: 2.5cm;
  margin-right: 2.0cm;
  border-radius: 5px;
  width: 26cm;
  height: 3.7cm;
  border: 1px solid rgb(109, 109, 109);
  transition: 0.5s;
}

#webTitle {
  color:  rgb(226, 226, 226);
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  text-align: left;
  font-weight: bold;
  margin: 0.5cm;

}

#webinfo {
  color: rgb(202, 202, 202); 
  font-size: 12px; 
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: left;
  /* margin-top: 0.4cm; */
  /* margin-bottom: -0.1cm;
  margin-left: 2.8cm; */
  margin-left: 0.6cm;
  margin-bottom: 0.6cm;
}

#git {
  color: rgb(38, 236, 226);
  margin: 0.6cm;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
    font-weight: bold;
  border: 0px solid ;
  border-radius: 3px;
  padding: 4px;
  letter-spacing: 1.3px;
  transition: 0.4s;
  background-color: rgba(255, 255, 255, 0.123);
  text-decoration: none;
}

#jss {
  color: rgb(255, 255, 255);
  margin: 0.2cm;
  font-size: 10px;
  font-family: 'Roboto Mono', monospace;    font-weight: bold;

  padding: 4px;
  letter-spacing: 1.3px;
  transition: 0.4s;
    text-decoration: none;
}

#git:hover {
  background-color: rgb(38, 236, 226);
  color: rgb(70, 70, 70);
}


#typed {
  color: rgb(214, 214, 214);
  display: flex;
}

#alig {
  position: absolute;
  right: 0px;
  margin-right: 3.6cm;
}

#marv {
  font-family: 'Inconsolata', monospace;
  color: rgb(212, 1, 1);
  transition: 0.3s ease;
  text-decoration: none;
  font-weight: bold;
  opacity: 0.99;
  font-size: 15px;
}

#marv:hover {
color: rgb(255, 255, 255);
/* font-weight: bold; */

}

#hid {
  /* display: none; */
  opacity: 0.3;
  border-radius: 3px;
  transition: 0.3s;
}

#web1:hover {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0px 7px rgba(238, 238, 238, 0.479);
}

#web1:hover + #hid {
opacity: 1;
/* display: block; */
}

#types {
  color: aliceblue;
  margin-top: -0.42cm;
}

#exp {
  color:  rgb(255, 0, 98);
  font-family: 'Roboto', sans-serif;
  font-size: 46px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 1.5cm;
  margin-left: 2.8cm;
}


/* Create three equal columns that floats next to each other */
.coll {
  /* float: ; */
  /* width: 16%;
  padding: 10px;
  height: 300px;  */
  /* margin-right: 20px;
  margin-left: 20px;
  background-color: rgba(0, 255, 255, 0);
  border: 1px solid rgb(116, 116, 116);
  border-radius: 5px;
  transition: 0.3s ease; */
  float: left;
  width: 22%;
  padding: 4px;
  background-color: rgba(0, 255, 255, 0);
  border: 1px solid rgb(80, 80, 80);
  border-radius: 5px;
  transition: 0.3s ease;
  /* margin-right: 20px; */
  margin-left: 20px;
  height: 380px;
}

/* Clear floats after the columns */
.row:after {
  margin-left: 80px;
  content: "";
  display: table;
  clear: both;
}


.coll:hover{
  border: 1px solid rgb(196, 196, 196);
  /* transform: scale(1.02); */
  box-shadow: 0 0px 7px rgba(238, 238, 238, 0.479);

}

#headerI {
  color: rgb(38, 236, 226);
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
}
#inside {
  color: rgb(255, 0, 98);
  margin-left: 10px;
  margin-top: -10px;
  font-size: 11px;
  font-family: 'Roboto Mono', monospace;
}

#insideL {
  color: rgb(255, 0, 98);
  margin-left: 10px;
  margin-top: -10px;
  font-size: 11px;
  font-family: 'Roboto Mono', monospace; 
  transition: 0.3s;
}

#insideL:hover {
  color: rgb(255, 255, 255);
}

ul.liss {
  list-style-type: square;
  color: rgb(209, 208, 208);
  margin-left: -2px;
  line-height: 1.4;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}

#oka {
    margin-right: 12px;
}


#advis {
  color: rgb(240, 0, 168);
  transition: 0.3s;
}

#advis:hover {
  color: rgb(255, 151, 194);
}


#contact {
  color:  rgb(255, 0, 98);
  font-family: 'Roboto', sans-serif;
  font-size: 46px;
  font-weight: bold;
  text-align: center;
}

#continf {
  text-align: center;
  margin-top: -0.6cm;
}

#mail {
  font-family: 'Open Sans', sans-serif;  
  color: rgb(209, 208, 208);
  font-size: 18px;

}

#email {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  color: rgba(1, 221, 210, 0.438);
  font-size: 17px;
  opacity: 0.99;
  transition: 0.4s;
  margin-top: -3cm;
}

#email:hover {
  color: rgb(0, 255, 242);

}


#loge {
  height: 40px; 
  margin-top: 0.2cm;
   margin-left: 1cm;
   margin-right: 1cm;
  opacity: 15%;
  transition: 0.4s;
}

#loge:hover {
  opacity: 1;
}



















.blinking-cursor {

  margin-right:-.1em;
  margin-left:-.1em;
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink{
  from,
  to {
    color: transparent;
  }
  50% {
    color: rgb(255, 255, 255);
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: rgb(255, 255, 255);
  }
}

@-webkit-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: rgb(255, 255, 255);
  }
}

@-ms-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: rgb(255, 255, 255);
  }
}

@-o-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: rgb(255, 255, 255);
  }
}

